.re-position {
    container();
    padding-top: 20vw;
    &__align{
        col(10,600px);
        col(8,700px);
        col(5,800px);
        col-push(2,600px);
        col-push(3,700px);
        col-push(3,800px);
        col-push(5,1400px);
    }
}
